.bookingForm {

    display: grid;
    grid-template-columns: auto;
    gap: 10px;

    input {
        font-size: 18px;
        padding: 10px;
        text-align: left;
    }

    .DatePicker {
        input {
            width: calc(100% - 22px);
        }
    }

    select {
        font-size: 18px;
        padding: 10px;
    }

    
    
    textarea {
        font-size: 18px;
        padding: 10px;
        min-height: 120px;
    }

    

    .btn-submit {
        display: flex;
        justify-content: flex-end;
    }

    .submit {
        cursor: pointer;
        width: fit-content;
        padding: 10px 30px;
    }


}