.Dashboard {
  
  .second-menu ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;

    li {
      list-style: none;
      padding-right: 20px;
      cursor: pointer;
    }
  }

  
}
