.OwnerShips {
    padding: 100px 0 50px 0;
    
    
    .Grid {

      

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }

      .Grid-item {
        cursor: pointer;
      }

      img {
        width: 100%;
      }

      .cardDetails {
        display: flex;
        justify-content: space-between;

        p {
          max-width: auto;
          margin: 0;
        }
      }

      // .Box {
      //   padding-top: 100%;
      //   background-color: #b5b5b5;
      //   margin-bottom: 20px;
      //   border-radius: 15px;

      //   background-image: url(../../Assets/Img/box.jpg);

      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }

      

    }

    table {
    width: 100%;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 18px;
    max-width: 62ch;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 50px;
  }

  .cards {
    .BuyNFT {
      padding: 10px 20px;
      color: black;
      text-decoration: none;
      background-color: #b5b5b5;
    }

    h5 {
      font-size: 18px;
    }
  }
  
}