.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    padding-top: 50px;

    .x-button {
        background: #dfdfdf;
        border: none;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px 13px;
        border-radius: 28px;
        cursor: pointer;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.432);
}

.SinglePage {

    padding: 100px 0;

    img {
        width: 100%;
    }

    .Grid {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 60px;

        .Token-Details {

            padding-top: 30px;

            .Token-options {
                margin-bottom: 30px;

                .bookedDate {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: beige;
                    color: rgb(255, 0, 0);
                    padding: 10px 15px 2px 15px;
                    margin-bottom: 20px;

                    p {
                        font-weight: 600;
                    }

                    .date{
                        margin-left: 10px;
                    }
                }

                H1 {
                    margin-bottom: 20PX;
                }

                p {
                    font-size: 20px;
                    margin-bottom: 10PX;
                }

                .buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;
                }
            }

              


            .Offers-Section {
                
                background-color: beige;

                .Offers-Title {
                    font-size: 1.2rem;
                    font-weight: 700;
                    padding: 10px 20px;
                    border-bottom: 1px solid #dbdbc3;
                }

                .Offers-detail {

                    padding: 10px 20px;

                    ul.Offers-list {

                        list-style: none;
                        padding: 0;

                        li {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                    }
                }
            }

            .token-id {

                font-size: 3rem;

                span {
                    font-size: 6rem;
                }
            }

            .bookDate {
                margin-top: 20px;
                cursor: pointer;
                padding: 10px 30px;
                font-size: 18px;
            }
        }
    }
}